.dropButton {
  border: none;
  background: none;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownImage {
  min-width: 25px;
}

.dropdownImage:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.3);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242424;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 4px 16px;
}

.dropdown-content a {
  color: #fff;
  padding: 6px 8px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  color: #d4d4d4;
}

.dropdown:hover .dropdown-content {
  display: block;
}
