body {
  margin: 0;
  padding: 0;
  font-family: "Alata";
  background-color: #202020;
  color: #d1d1d1;
  min-width: 100%;
  min-height: 100%;
}

#root {
  min-width: 100%;
  min-height: 100%;
}

button {
  font-family: "Alata";
}

input ::placeholder {
  font-family: "Alata";
}

textarea ::placeholder {
  font-family: "Alata";
}
